#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5">

    <Properties>
        <property name="LOG_PATTERN"
                  value="%date{yyyy-MM-dd HH:mm:ss.SSS}{GMT+8} %-5level [%thread] %logger{36}-[%M]-[%L] - %msg%n"/>
        <property name="FILE_PATH" value="logs"/>
        <property name="FILE_NAME" value="zmj"/>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${symbol_dollar}{LOG_PATTERN}"/>
            <!--控制台只输出level及其以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="${symbol_dollar}{FILE_PATH}/${symbol_dollar}{FILE_NAME}.log"
                     filePattern="${symbol_dollar}{FILE_PATH}/${symbol_dollar}{FILE_NAME}-%d{yyyy-MM-dd}_%i.log.gz">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${symbol_dollar}{LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
        </root>
        <Logger name="${groupId}" level="debug"/>
    </loggers>

</configuration>
